<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>云体秀</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <include file="__URL__/left"></include>
	   <form enctype="multipart/form-data" action="__URL__/do_change_news/news_id/{$is_check[0]['news_id']}" method="post">
	    	<table>
				<thead>
					<tr>
						<th>约赛id</th>
						<th>news</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><input type="text" name="change_news_pk_id" id="" placeholder = "{$is_check[0]['pk_id']}"></th>
						<th><input type="text" name="change_news_news" id="" placeholder = "{$is_check[0]['news']}"></th>
					</tr>
				</tbody>	
			</table>
			<input type="submit" width="30px" height="70px" value="添加news" name="submit_change_news"> 
	   </form>
	
</body>
</html>