<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>云体秀某队员得分信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <include file="__URL__/left"></include>
	   <form enctype="multipart/form-data" action="__URL__/add_news" method="post">
	    	<table border="1">
				<thead>
					<tr>
						<th>约赛id</th>
						<th>news</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><input type="text" name="add_news_pk_id" id=""></th>
						<th><input type="text" name="add_news_news" id=""></th>
					</tr>
				</tbody>
			</table>
			<input type="submit" width="30px" height="70px" value="添加news" name="submit_add_news"> 
	   </form>
	<br><br>
	
	<table>
		
		<thead>
			<tr>
				<th>约赛id</th>
				<th>news</th>
				<th>修改</th>
				<th>删除</th>
			</tr>
		</thead>
		<tbody>
			<volist id="news_info" name = "news_info">
			<tr>
				<th>{$news_info['pk_id']}</th>
				<th>{$news_info['news']}</th>
				<th><a href="__URL__/change_news/{$news_info['news_id']}">修改</th>
				<th><a href="__URL__/delete_news/{$news_info['news_id']}">删除</th>
			</tr>
			</volist>
		</tbody>		
	</table>
	{$page}
</body>
</html>